<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vunke.videochat">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 语音通话权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 免提权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 查看网络状态，获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取扩展储存，外部扩展卡内的数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
    <uses-permission android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />

    <application
        android:name=".base.BaseAppclication"
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ui.MainActivity">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.VideoActivity"></activity>
        <activity android:name=".ui.CallInActivity"></activity>
        <activity android:name=".ui.AudioActivity"></activity>
        <activity android:name=".ui.BackgroundActivity"></activity>
        <activity android:name=".ui.WelcomeActivity"></activity>
        <activity android:name=".ui.OrderActivity"> </activity>
        <activity android:name=".ui.AddContactActivity"
            android:theme="@style/NoActionBar2">
        </activity>

        <activity android:name=".ui.TestActivity">
             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--<category android:name="android.intent.category.DEFAULT" />-->
             <!--</intent-filter>-->
        </activity>

        <activity android:name=".ui.ProductDesActivity"
            android:theme="@style/NoActionBar2">
        </activity>
        <activity android:name=".ui.SelectPhoneActivity">

        </activity>
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- <receiver android:name=".receiver.UsbStatusReceiver"> -->
        <!--   <intent-filter android:priority="1000" > -->
        <!--                 <action android:name="android.intent.action.MEDIA_MOUNTED" /> -->
        <!--                 <action android:name="android.intent.action.MEDIA_CHECKING" /> -->
        <!--                 <action android:name="android.intent.action.MEDIA_EJECT" /> -->
        <!--                 <action android:name="android.intent.action.MEDIA_UNMOUNTED" /> -->
        <!--                 <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
        <!--                 <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" /> -->
        <!-- &lt;!&ndash;                <data android:scheme="file" />&ndash;&gt; -->
        <!--  </intent-filter> -->
        <!-- </receiver> -->
        <service android:name=".service.LinphoneMiniManager"></service>
        <provider
            android:authorities="com.vunke.videochat.attn"
            android:name="com.vunke.videochat.provider.ContactsProvider"
            android:exported="false">

        </provider>

    </application>

</manifest>